<div>
    <div class="container" id="header-id">
        <div class="header-content">
            <img src="logo.png" class="logo">
            <h1 class="name">Mariam Hasan</h1>
        </div>
        <div class="nav">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
            <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
    <div class="header-border">
    </div>
</div>

