/* Container Styles */
.container {
    padding: 20px;
    font-family: 'Consolas', monospace;
    background-color: rgb(248, 209, 197);
    border-radius: 15px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
        /* Aligns items vertically to the bottom */
    height: 280px; 
    font-weight: bold;

}

/* Contact Info Styles */
.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.contact-details {
    flex: 1;
    padding-right: 20px;
}

.contact-details p {
    font-size: 23px;
    font-weight: bold;
    color: #00008B;
    /* line-height: 1.6; */
}

.contact-details i {
    margin-right: 8px;
    color: 
    #ca9494;
}

/* Social Media Styles */


.social-media p {
    font-size: 23px;
    color: #00008B;
    margin-bottom: 20px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social-icon {
    color: #00008B;
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ca9494;
}

/* Scroll to Top Styles */
.scroll-to-top-container {
    margin-top: 20px;
}

.scroll-to-top {
    display: inline-block;
    padding: 10px;
    background-color: #ca9494;
    color: #FEFBF6;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
    
    transform: translateY(-4px);
}

.log-in-container{
    padding: 10px;
    background-color: #ca9494;
    color: #00008B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position:static;
    bottom: 20px;  /* Adjust this value as needed */
    right: 20px;  /* This will place the container on the right */
   
}

.log-in-container button{
    background-color:#ca9494;
    font-family: 'Consolas', monospace;
    font-size: 24px;
    font-weight: bold;
    color: #FEFBF6;
    border: none;

}
.log-in-container:hover{
    /* background-color: #C5705D; */
    font-family: 'Consolas', monospace;
    font-size: 24px;
    font-weight: bold;

    /* color: #FFF; */
    border: none;
    cursor: pointer;
    transform: scale(1.05);
}
.log-in-container button:hover{
    cursor: pointer;

}
