<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <div class="contact-info">
        <div class="contact-details">
            <p>Reach me:</p>
            <p><i class="fas fa-phone-alt"></i> +201001674317</p>
        </div>    

        <div class="social-media">
            <p>Let's talk:</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/mariam-hasan-637730247/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/MariamEwas" target="_blank" class="social-icon">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://wa.me/+201001674317" target="_blank" class="social-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="mailto:maryemhasan2004@gmail.com" target="_blank" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="scroll-to-top-container">
        <a href="#header" class="scroll-to-top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <div class="log-in-container">
        <button routerLink="/login">Log in</button>
    </div>
</div>
