.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Consolas', monospace;
  margin-bottom:100px;
  margin-top:100px;
}

.semesters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top:60px;
}

.semester-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #c2c2df;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #FEFBF6;
  transition: transform 0.3s ease;
  margin-top:70px;
}

.semester-card :hover .semester-courses{
  display:block;
}
.semester-card :hover .one-course{
  animation: reveal 2s ease-in-out forwards;
}
@keyframes reveal {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.semester-card :hover .courses-container{
  display: flex;
}
/* .semester-card:hover .semester-desc{
  display: none;
} */





.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.semester-name{
  color:#00008B;
  font-weight: Bold;
  font-size: 30px;
  font-style: italic;
}
.semester-desc{
  color:#00008B;
  line-height: 30px;
  font-size: 20px;
}


.semester-courses{
  display: none;
}
.courses-container {
  display: none;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 20px;
  padding:20px;
}

.courses-text{
  font-size: 25px;
  color:#00008B;
  font-style:normal;
}
.course-name{
  font-size: 20px;
  color:#00008B;
  font-weight: Bold;

}
.course-desc{
  border-top:1px solid #a9a9d3;
  padding-top: 20px;
  color:#00008B;
  font-size: 17px;

}

.one-course {
  flex: 1 1 calc(33.33% - 10px); /* 3 cards per row */
  background-color: rgb(248, 209, 197);
  border-radius: 5px;
  padding:10px;
  line-height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}










.about-text{
    
  align-items: center;
  justify-content: center;
  display: flex;
}
.about-text-h1{
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden; /* Hides overflowed text */
  width: fit-content;
}

h1 {
  color: #00008B;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  font-weight: bold;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em  darksalmon; /* The typwriter cursor */
  border-right-style:solid;
  white-space: nowrap; /* Keeps the content on a single line */

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(50, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:darksalmon }
}

.about-text-content {
  text-align: center;
  font-family:'Times New Roman', Times, serif;

  margin: 0 auto; /* Centers the text within the available space */
  max-width: 650px; /* Limits the width of the paragraph */
  font-size: 23px; /* Adjust the font size */
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #226097; /* Change the text color */
}

.about-text-content p {
  line-height: 40px; /* Adds space between lines for better readability */
  margin: 10px 0; /* Adds space above and below the paragraph */
}

.about-header{
  border-color: black;
  margin-bottom:100px;
  margin-top: 70px;
} 




.final-text{
  color:#4169E1;
  font-size: 20px;
  margin-top:60px;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: center;
}