<!-- <div class="project-card">
    <p class="project-id">Project ID: {{myproject.id}}</p>
    <p class="project-name">Project Name: {{myproject.name}}</p>
    <p class="project-desc">Project Description: {{myproject.desc}}</p>
    <p class="project-skills">
        Project Skills: 
        <span *ngFor="let skill of myproject.skills">{{skill}}, </span>
    </p>
    <a [href]="myproject.githubLink" target="_blank" class="github-link">
        View on GitHub
    </a>
</div> -->

<div class="project-card">
    <div class="image-container">
        <img [src]="myproject.imageUrl" alt="Project Image">
        <a [href]="myproject.githubLink" class="github-link" target="_blank">
            Repository 
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project-info">
        <h2>{{myproject.name}}</h2>
        <p>{{myproject.desc}}</p>
        <div class="skills">
            <span *ngFor="let skill of myproject.skills">
                {{skill}}
            </span>
        </div>
    </div>
</div>

