<!-- <div class="app-exp">
    <span class="app-exp-name">
      {{myexp.name}}
    </span>
    <span class="app-exp-role">
      {{myexp.role}}
    </span>
    <span class="app-exp-year">
      {{myexp.year}}
    </span>
    <span class="app-exp-desc">
      {{myexp.desc}}
    </span>
  </div>
   -->


  
    <div class="timeline__event animated fadeInUp delay-3 timeline__event--type1">
      <div class="timeline__event__icon">
        <!-- Add an image or icon here for each experience -->
        <img [src]="myexp.imageUrl" alt="Experience Icon" />
      </div>
      <div class="timeline__event__date">
        <div [innerHTML]="myexp.year | newLineToBr"></div>
      </div>
      <div class="timeline__event__content">
        <div class="timeline__event__title">
          {{myexp.name}}
        </div>
        <div class="timeline__event__description">
          <!-- <p>{{}}</p> -->
          <div [innerHTML]="myexp.desc | newLineToBr"></div>
        </div>
      </div>
    </div>
  
  