<div>
    <div class="container">
        <div class="text-section">
            <div>
                <h2>Welcome to my portfolio !</h2>
            </div>
            <p class="p1">I’m <strong>Mariam Hasan </strong>, </p>
            <p>a 3rd-year Data Science student at the German International University.
            </p> 
            
        </div>
        <div class="image-section">
            <img src="https://media3.giphy.com/media/L1R1tvI9svkIWwpVYr/200w.webp?cid=ecf05e47k3tfn8kfnunkqw3zwwctv1zfvan9385kkz4smr27&ep=v1_gifs_related&rid=200w.webp&ct=g" alt="Programming Illustration">
        </div>
    </div>
    <div class="overview">
        <p> OverView .. </p>
    </div>

    <div class="parent-div">
    <div class="last-div">
        <div class="content-box">
            <p>My deep-rooted passion for technology is not just limited to software development. I am also heavily involved in competitive programming and deeply immersed in data science. These fields drive my curiosity and motivate me to constantly learn, improve, and apply my skills .</p>
            <a [routerLink]="['/about']" fragment="about" class="navigate-button">Learn More About My Journey</a>
        </div>
        <br>
        <div class="content-box">
            <p>Python has become one of my favorite languages, especially because of its powerful capabilities in data visualization and machine learning. These are crucial components of my studies, allowing me to deeply go through data science.</p>
            <a [routerLink]="['/projects']" fragment="python-projects" class="navigate-button">Explore My Python Projects</a>
        </div>
        <br>
        <div class="content-box">
            <p>My enthusiasm for technology has inspired me to explore a wide range of technologies and frameworks. From building full-stack applications using the MEAN and MERN stacks to leveraging C#.NET for web development, and creating desktop applications using Java and C++ .</p>
            <a [routerLink]="['/projects']" class="navigate-button">Discover My Projects</a>
        </div>
        <br>
        <div class="content-box">
            <p>In addition to my academic pursuits, I have a strong passion for competitive programming. I actively participate in various competitions, including the Egyptian Collegiate Programming Contest (ECPC), which allows me to sharpen my problem-solving and algorithmic thinking skills in a fast-paced, challenging environment.</p>
            <a [routerLink]="['/experience']" fragment="ecpc" class="navigate-button">Learn More About My Experience</a>
        </div>
    </div>
</div>
</div>    
