<div>
    <div class="container">
        <div class="text-section">
            <h2>Welcome to my portfolio!</h2>
            <p>I’m Mariam Hasan, a 3rd-year Data Science student at the German International University.</p>
        </div>
        <div class="image-section">
            <img src="https://media3.giphy.com/media/L1R1tvI9svkIWwpVYr/200w.webp?cid=ecf05e47k3tfn8kfnunkqw3zwwctv1zfvan9385kkz4smr27&ep=v1_gifs_related&rid=200w.webp&ct=g" alt="Programming Illustration">
        </div>
    </div>

    <div class="last-div">
        <div class="content-box">
            <p>My passion for technology extends beyond software development, competitive programming, and for sure, data science.</p>
            <a [routerLink]="['/about']" fragment="about" class="navigate-button">Learn More About Me</a>
        </div>
        <br>
        <div class="content-box">
            <p>I love working with Python, especially for its strengths in data visualization and machine learning, which are key aspects of my studies.</p>
            <a [routerLink]="['/projects']" fragment="python-projects" class="navigate-button">Go to Python Projects</a>
        </div>
        <br>
        <div class="content-box">
            <p>My passion has led me to explore several technologies, including the MEAN and MERN stacks, C#.NET for Web development, Java, and C++ for desktop applications.</p>
            <a [routerLink]="['/projects']" class="navigate-button">Go to My Projects</a>
        </div>
        <br>
        <div class="content-box">
            <p>Also, I enjoy participating in competitive programming contests like ECPC which enhances my problem-solving skills.</p>
            <a [routerLink]="['/experience']" fragment="ecpc" class="navigate-button">Go to ECPC</a>
        </div>
    </div>
</div>
